body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }
.centro{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .justify{
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .linha.centro {
    background-color: rgb(189,186,186);
    padding-right: 10px;
    overflow-y: auto; /* Adicione isso para permitir a rolagem vertical */
    max-height: 300px; /* Defina a altura máxima para a div cinza e adicione uma barra de rolagem quando necessário */
    
}
  .coluna{
    display: flex;
    flex-direction: column;
  }
  .quadrado{
    display: flex;
    border: 1px 1px 1px;
    border-style: solid;
    border-color: #0667E8;
  }
  .circulo {
    display: flex;
    border: 1px 1px 1px;
    border-style: solid;
    border-color: #0667E8;
    border-radius: 50px;
  }
  .menu-lateral{
    width: 80px;
    height: 100%;
    background-color: rgb(55, 198, 201);
    display: flex;
    flex-direction: column;
}
.cabecalho-titulo{
    width: 240px;
    text-align: center;
    height: 100%;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .cabecalho{
    background-color: rgb(55, 198, 201);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  /* .table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
}

        .table-row {
            display: table-row;
      
        }

        .table-cell {
            display: table-cell;
            padding: 10px;
            border: 1px solid #ccc;
      
        }

        .header-row {
            font-weight: bold;
            background-color: #f2f2f2;
      
        }
        .tabela-container {
            overflow: auto; Adicione esta linha para permitir rolagem quando a tabela for grande 
        } */